
.compra{
    margin-top: 50px;
    display: table;
    margin: 0 auto;
}


.ficha-body{
    background-color:whitesmoke;
    display: table;
}
.ficha-title{
    margin-top: 10px;
}
.ficha-text{
    background-color:whitesmoke;
}
